<%= turbo_stream.update "current-template" do %>
  <div id="current-template">
    Current template: <%= Current.template.present? ? Current.template.name : "N/A"  %>
  </div>
<% end %>

<%= turbo_stream.update "email-preview" do %>
  <div id="email-preview">
      <% if @email.present? %>
        <%= gsubHelper(@email.body) %>
      <% else %>
        <%= gsubHelper("THIS IS THE PREVIEW") %>
      <% end %>
    </div
<% end %>

<%= turbo_stream.update "destroy-template-button" do%>
<%end%>

<%= turbo_stream.update "current-template" do %>
  <div id="current-template">
    Current template: N/A
  </div>
<% end %>