<div id="emails_container" class="prose flex-col max-w-none flex w-full">
  <h1>Emails sent</h1>
    <div class="mb-4 self-end">
    <%= turbo_frame_tag "actions_frame" do %>
      <%= link_to "New Email", new_email_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
      <%= link_to "New Template", templates_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
      
      <div class="border-2 border-black border-solid" style="margin-top: 20px;">
        <%= form_with url: select_template_path, data: {turbo_frame: true}, class: "flex flex-col" do |f|%>
          <%= f.label :templates%>
          <%= f.collection_select(:template_id, @templates, :id, :name, promp: "select the template you wanna use" ) %>
          <%= f.submit :select, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
        <%end%>
      </div>
      <div id="current-template">
        Current template: <%= Current.template.present? ? Current.template.name : "N/A"  %>
      </div>
    <%end%>
  </div>
   
  <div id="preview-pane" class="flex-row flex">
    <div id="emails" class="flex-none">
      <% @emails.each do |email| %>
        <div class="border-b pr-8 hover:bg-sky-100 hover:pl-2">
          <div><%= link_to email.subject, email_path(email), data: { turbo_stream: true} %></div>
          <div class="text-sm text-slate-300"><%= email.created_at.to_fs(:short) %></div>
        </div>
      <% end %>
    </div>
    <div id="email-preview" class="flex-auto border p-8 h-[60vh]">
      THIS IS THE PREVIEW
    </div
  </div>
</div>